{% extends 'main/header.html' %}

{% block content %}
  <div class="row">
    <!-- {% for p in pdfs %}
    <div class="container-fluid px-0">
     <div class="row">
      <div class="col-md-12">
        <img src="https://place-hold.it/1300x400/?text=1300x400&fontsize=33" alt="placeholder 960" class="img-responsive"/>
      </div>
        </div>
    </div>
    {% endfor %} -->
    <!-- {% if user.is_authenticated %}
    {% for p in pdfs  %}
      {% if user in p.users.all %}
        {% for count in counts %}
          {% for c in count %}
            <div class="container-fluid px-0">
             <div class="row">
              <div class="col-md-12">
                <img src="media/{{p.url_path}}/{{p.url_path}}-0{{c}}.jpg" />
              </div>
                </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %} -->
    <div onmouseup="clickityUp(event)" onmousedown="clickityDown(event)">
      <canvas id = "c">

      </canvas>
    </div>
    {% endif %}
<script type="text/javascript">
    var canvas = new fabric.Canvas('c');
    canvas.setHeight(1000000000000);
    //
    // for (var i = 0; i < 20; i++){
    //   var imgInstance = new fabric.Image(imgElement, {
    //       left: 100,
    //       top: 100,
    //       angle: 90,
    //       opacity: 0.85
    //   });
    //   canvas.add(imgInstance);
    // }
    // for (var i = 0; i < 20; i++){
    //   fabric.Image.fromURL('http://fabricjs.com/assets/pug_small.jpg', function(myImg) {
    //    //i create an extra var for to change some image properties
    //    var img1 = myImg.set({ left: 0, top: 0 ,width:150,height:150});
    //    canvas.add(img1);
    //   });
    // }
    window.addEventListener('resize', resizeCanvas, false);

    function resizeCanvas() {
      canvas.setHeight(window.innerHeight);
      // canvas.setHeight(100000000);
      canvas.setWidth(window.innerWidth);
      canvas.renderAll();
    }

    // resize on init
    resizeCanvas();

    height = 0;
    {% for p in pdfs  %}
      {% if user in p.users.all %}
        {% for count in counts %}
          {% for c in count %}
            fabric.Image.fromURL('media/{{p.url_path}}/{{p.url_path}}-0{{c}}.jpg', function(myImg) {
             //i create an extra var for to change some image properties
             myImg.selectable = false;
             myImg.evented = false;
             console.log(height);
             var img1 = myImg.set({ left: 0, top: -height});
             myImg.scaleToWidth(window.innerHeight);
             canvas.add(img1);
             height+=myImg.height;
            });
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    // canvas.on('mouse:wheel', function(e) {
    //   console.log("sdf");
    // });
    start = []
    end = []
    function clickityDown(e) {
      var x = event.clientX;
      var y = event.clientY;
      var coords = "DownX coords: " + x + ", Y coords: " + y;
      start = [x, y];
      console.log(coords)
    }
    function clickityUp(e) {
      var x = event.clientX;
      var y = event.clientY;
      var coords = "DownX coords: " + x + ", Y coords: " + y;
      end = x, y;
      console.log(coords)
    }

</script>
{% endblock %}
